.container{
    background-color: aquamarine;
    height: 700px;
    min-width: 300px;
    max-width: 500px;

    position: relative;
    left: 25%;
    top: 10em;
}
#screen{
    width: 98.4%;
    height: 200px;
    background-color: white;
    border: 4px solid aquamarine;
    color: black;
}